Ahorcado_Services/Connected Services/JugadorService/JugadorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="JugadorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55459/Aplicacion/Implementacion/JugadorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55459/Aplicacion/Implementacion/JugadorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55459/Aplicacion/Implementacion/JugadorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ahorcado_Services.Modelo.EntityFramework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJugadorService_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_ActualizarInformacionJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacionJugador" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_ActualizarInformacionJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacionJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_ExisteJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteJugador" />
  </wsdl:message>
  <wsdl:message name="IJugadorService_ExisteJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteJugadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IJugadorService">
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugadorService/RegistrarJugador" message="tns:IJugadorService_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugadorService/RegistrarJugadorResponse" message="tns:IJugadorService_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugadorService/IniciarSesion" message="tns:IJugadorService_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugadorService/IniciarSesionResponse" message="tns:IJugadorService_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacionJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugadorService/ActualizarInformacionJugador" message="tns:IJugadorService_ActualizarInformacionJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugadorService/ActualizarInformacionJugadorResponse" message="tns:IJugadorService_ActualizarInformacionJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugadorService/ExisteJugador" message="tns:IJugadorService_ExisteJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugadorService/ExisteJugadorResponse" message="tns:IJugadorService_ExisteJugador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJugadorService" type="tns:IJugadorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarJugador">
      <soap:operation soapAction="http://tempuri.org/IJugadorService/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IJugadorService/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacionJugador">
      <soap:operation soapAction="http://tempuri.org/IJugadorService/ActualizarInformacionJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteJugador">
      <soap:operation soapAction="http://tempuri.org/IJugadorService/ExisteJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JugadorService">
    <wsdl:port name="BasicHttpBinding_IJugadorService" binding="tns:BasicHttpBinding_IJugadorService">
      <soap:address location="http://localhost:55459/Aplicacion/Implementacion/JugadorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>